<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.game.resizemet"
    versionCode = "10" 
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>W x HT</name>

    <description>
      Game
    </description>

    <author href="https://build.phonegap.com" email="kaushik7ronaldo@gmail.com.com">
      Kaushik 
    </author>
    <preference name="orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="DisallowOverscroll" value="true"/>
     <gap:plugin name="org.apache.cordova.media" version="0.2.8" />
</widget>
