.bgg
{
position:absolute;
background:black;
width:0%;
height:0.5%;
-ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    -webkit-transform-origin:bottom left; /* Chrome, Safari, Opera */
    -ms-transform-origin:bottom left; /* IE 9 */
    transform-origin:bottom left;


}


#bg1
{
left:0%;
top:10%;

}

#bg2
{
left:0%;
top:20%;

}
#bg3
{
left:0%;
top:30%;

}
#bg4
{
left:0%;
top:40%;

}
#bg5
{
left:0%;
top:50%;

}
#bg6
{
left:0%;
top:60%;

}
#bg7
{
left:0%;
top:70%;

}
#bg8
{
left:0%;
top:80%;

}
#bg9
{
left:0%;
top:90%;

}

#bg10
{
left:0%;
top:100%;

}


#bg11
{
top:100%;
left:12.5%;

}

#bg12
{
top:100%;
left:25%;

}
#bg13
{
top:100%;
left:37.5%;

}
#bg14
{
top:100%;
left:50%;

}
#bg15
{
top:100%;
left:62.5%;

}
#bg16
{
top:100%;
left:75%;

}
#bg17
{
top:100%;
left:87.5%;

}


.grad {

    
position:absolute;    
}

#grad1
{
height:1%;
width:100%;
left:0%;
top:0%;
    background: linear-gradient(to bottom right,black,grey);

}

#grad2
{
height:1%;
width:100%;
left:0%;
top:99%;
    background: linear-gradient(to top left,black,grey);

}
#grad3
{
width:1%;
height:100%;
left:0%;
top:0%;
    background: linear-gradient(to top left,black,grey);

}
#grad4
{
width:1%;
height:100%;
left:99%;
top:0%;
    background: linear-gradient(to bottom left,black,grey);

}




.n
{
position:absolute;
color:white;
text-align:center;
width:7.66%;
top:15%;
font-weight:bold;
font-size:150%;
 text-shadow: 5px 5px 5px black;
border-top: 1px solid white;
border-bottom:1px solid white;
display:none;


}
#n1
{
left:4%;
-webkit-transform: skew(0deg,20deg);
background:blue;
}
#n2
{
left:11.66%;
-webkit-transform: skew(0deg,-20deg);
background:green;
}
#n3
{
left:19.32%;
-webkit-transform: skew(0deg,20deg);
background:blue;
}
#n4
{
left:26.98%;
-webkit-transform: skew(0deg,-20deg);
background:black;
}
#n5
{
left:34.64%;
-webkit-transform: skew(0deg,20deg);
background:purple;
}
#n6
{
left:42.30%;
-webkit-transform: skew(0deg,-20deg);
background:red;
}
#n7
{
left:49.96%;
-webkit-transform: skew(0deg,20deg);
background:grey;
}
#n8
{
left:57.62%;
-webkit-transform: skew(0deg,-20deg);
background:violet;
}
#n9
{
left:65.28%;
-webkit-transform: skew(0deg,20deg);
background:yellow;
}
#n10
{
left:72.94%;
-webkit-transform: skew(0deg,-20deg);
background:black;
}
#n11
{
left:80.60%;
-webkit-transform: skew(0deg,20deg);
background:green;
}#n12
{
left:88.26%;
-webkit-transform: skew(0deg,-20deg);
background:blue;
}

#brid
{
line-height:150%;
}

#dispscr
{
position:absolute;
background:linear-gradient(to bottom right,white,black);
color:white;
width:60%;
font-size:150%;
border-radius:10%;
text-align:center;
left:20%;
top:35%;
display:none;
text-shadow: 5px 5px 5px black;
}


#info
{
position:absolute;
background:linear-gradient(to bottom right,white,black);
color:white;
width:92%;
font-size:120%;
border-radius:10%;
text-align:center;
left:4%;
top:8%;
display:none;
text-shadow: 5px 5px 5px black;
}



.ops
{
position:absolute;
width:42.5%;
display:none;
text-align:center;
color:white;
border-radius:10%;
font-size:120%;
 text-shadow: 5px 5px 5px white;
border: 1px solid white;
}

#backop
{
position:absolute;
background:linear-gradient(to bottom right,white,black);;
width:16%;
left:20%;
top:75%;
border-radius:15%;
color:white;
text-align:center;
font-size:120%;
 text-shadow: 5px 5px 5px black;
display:none;
}

#opa
{
left:4.5%;
top:55%;
background:black;
}
#opb
{
left:4.5%;
top:72%;
background:blue;
}
#opc
{
left:53%;
top:55%;
width:20.5%;
background:green;
}
#ope
{
left:75.5%;
top:55%;
width:20%;
background:grey;
}
#opd
{
left:53%;
top:72%;
background:purple;
}







#lscr
{
position:absolute;
width:100%;
top:6%;
left:0%;
text-align: center;
}
#livescore
{
	color:black;
	font-weight:bold;
	font-size:200%;
}
body
{
background:white;
max-width:100%;
max-height:100%;
overflow:hidden;


}
#a
{
position:absolute;
left:40%;
top:40%;
border: 5px ridge black;
background:none;
width:20%;
height:20%;
display:none;

	transform: translate3d(0em,0em,0em);
	-webkit-transform:translate3d(0em,0em,0em);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

}

#bbb
{
position:absolute;
left:10%;
top:50%;
border: 5px ridge black;
background:none;
width:15%;
height:20%;
display:none;

	transform: translate3d(0em,0em,0em);
	-webkit-transform:translate3d(0em,0em,0em);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

}

#t
{
	display:none;
position:absolute;
left:50%;
top:-2%;
width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid black;
background:none;
transform: translate3d(0em,0em,0em);
	-webkit-transform:translate3d(0em,0em,0em);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

}
#l
{
	display:none;
position:absolute;
left:-2%;
top:50%;
width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-left: 10px solid black;
	border-bottom: 5px solid transparent;
background:none;
transform: translate3d(0em,0em,0em);
	-webkit-transform:translate3d(0em,0em,0em);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

}#r
{
	display:none;
position:absolute;
left:100%;
top:50%;
  width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-right: 10px solid black;
	border-bottom: 5px solid transparent;
background:none;
transform: translate3d(0em,0em,0em);
	-webkit-transform:translate3d(0em,0em,0em);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

}#b
{
	display:none;
position:absolute;
left:50%;
top:100%;
width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid black;
background:none;
transform: translate3d(0em,0em,0em);
	-webkit-transform:translate3d(0em,0em,0em);
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;

}
