.n
{
position:absolute;
color:black;
background:white;
text-align:center;
width:8%;
top:15%;
font-weight:bold;
font-size:150%;
 text-shadow: 5px 5px 5px black;

display:none;

}
#n1
{
left:2%;
-webkit-transform: skew(0deg,20deg);
}
#n2
{
left:10%;
-webkit-transform: skew(0deg,-20deg);
}
#n3
{
left:18%;
-webkit-transform: skew(0deg,20deg);
}
#n4
{
left:26%;
-webkit-transform: skew(0deg,-20deg);
}
#n5
{
left:34%;
-webkit-transform: skew(0deg,20deg);
}
#n6
{
left:42%;
-webkit-transform: skew(0deg,-20deg);
}
#n7
{
left:50%;
-webkit-transform: skew(0deg,20deg);
}
#n8
{
left:58%;
-webkit-transform: skew(0deg,-20deg);
}
#n9
{
left:66%;
-webkit-transform: skew(0deg,20deg);
}
#n10
{
left:74%;
-webkit-transform: skew(0deg,-20deg);
}
#n11
{
left:82%;
-webkit-transform: skew(0deg,20deg);
}#n12
{
left:90%;
-webkit-transform: skew(0deg,-20deg);
}

#dispscr
{
position:absolute;
background:white;
color:black;
width:50%;
font-size:120%;
border-radius:10%;
text-align:center;
left:25%;
top:35%;
display:none;
text-shadow: 5px 5px 5px black;
}


#info
{
position:absolute;
background:white;
color:black;
width:100%;
font-size:120%;
border-radius:10%;
text-align:center;
left:0%;
top:10%;
display:none;
text-shadow: 5px 5px 5px black;
}



.ops
{
position:absolute;
width:47%;
display:none;
text-align:center;
color:black;
background:white;
border-radius:10%;
font-size:120%;
 text-shadow: 5px 5px 5px black;
}

#backop
{
position:absolute;
background:white;
width:16%;
left:20%;
top:75%;
border-radius:15%;
color:black;
font-size:120%;
 text-shadow: 5px 5px 5px black;
display:none;
}

#opa
{
left:0%;
top:55%;
}
#opb
{
left:0%;
top:72%;
}
#opc
{
left:53%;
top:55%;
width:22.5%;
}
#ope
{
left:77.5%;
top:55%;
width:22.5%;
}
#opd
{
left:53%;
top:72%;
}







#lscr
{
position:absolute;
width:100%;
top:6%;
left:0%;
text-align: center;
}
#livescore
{
	color:white;
	font-weight:bold;
	font-size:200%;
}
body
{
background:black;
max-width:100%;
max-height:100%;
overflow:hidden;


}
#a
{
position:absolute;
left:40%;
top:40%;
border: 5px ridge white;
background:none;
width:20%;
height:20%;
display:none;


}

#bbb
{
position:absolute;
left:10%;
top:50%;
border: 5px ridge white;
background:none;
width:15%;
height:20%;
display:none;


}

#t
{
	display:none;
position:absolute;
left:50%;
top:-2%;
width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid white;
background:none;
}
#l
{
	display:none;
position:absolute;
left:-2%;
top:50%;
width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-left: 10px solid white;
	border-bottom: 5px solid transparent;
background:none;
}#r
{
	display:none;
position:absolute;
left:100%;
top:50%;
  width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-right: 10px solid white;
	border-bottom: 5px solid transparent;
background:none;

}#b
{
	display:none;
position:absolute;
left:50%;
top:100%;
width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid white;
background:none;
}
